.button{
	-fx-background-radius: 3em;
	-fx-background-color: #ffd15c;
}

.button-redo{
	-fx-background-image:url("../image/redo.jpg");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: #0d0b21;
}

.button-undo{
	-fx-background-image:url("../image/undo.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: #0d0b21;
}

.paint-style{
	-fx-background-image:url("../image/paint.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.picture-style{
	-fx-background-image:url("../image/picture.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.button-save{
	-fx-background-image:url("../image/save.png");
	-fx-border: none;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-radius: 0.7em;
	-fx-background-color: #006df0;
}

.button-print{
	-fx-background-image:url("../image/print.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-radius: 0.7em;
	-fx-background-color: #006df0;
}

.pane-style{
	-fx-background-color: #626262;
}

.menuBar-style{
	-fx-background-color: #e0e0e0;
}